html,body{
    height: 100%;
    background-color: #eeeeee;
    margin:0;
    padding:0;
    font-family:Calibre,Sans-Serif;
  }
.header{
  height:100vh;
}
  #logo{
    color:#b5651d ;
    transition: color 400ms linear;
    font-weight:400;
    font-size:2em;
    font-family: IM FELL Double Pica;
    line-height:60px;
}



  .nav-link{
    color:#b5651d !important;
    font-weight:700 !important;
  }


  .container{
    padding:5px;
    
   }



.textpadding{
  padding: 160px;

}
p{
  font-size: 20px;
  font-weight:400px;
  font-family: cursive;
}
h2{
  font-family: Georgia, serif;
  font-weight:200px;
}

.imagepad{
  margin-top:100px;
  width:420px;
  height:400px;
}
span{
  color:#b5651d;

}
@media (min-width:1000px){
  .img-move{
    position:absolute;
    top:60px;
  }
}
  .img-move-1 {

    border: 2px solid #9E8B72;
    width:250px;
    height:270px;
    left: 200px;
    top:130px;
    border-style:groove;

  }



.img-move-2 {
  border: 2px solid #9E8B72;
  width:250px;
  height:270px;
  right:890px;
  top:400px;
  border-style:groove;
}
.img-move-3 {

  border: 2px solid #9E8B72;
  width:250px;
  height:270px;
  left: 60px;
  top:400px;
  border-style:groove;
}

@media (max-width:500px){

  .moblie-move{
    position:absolute;
    left:30%;
    top:30%;
  }
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
h3{
  margin-left:50px;
  color: black;
  font-weight:300px;
  font-size: 30px;
  font-family: elmessiri-semibold;
}

.formpad{
  padding-top:15px;
}

.alignform{
  padding-top:90px;
  padding-left:90px;
}

.buttonpad{
  margin-left:40px;

}

.titlepad{
  margin-left : 93px;
}


.ratio{
  width:300px;
  height:300px;
}

#wrapper{
  column-gap: 20px;
}

.card{
  border-color:burlywood;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}


.card-title{
  font-family: "Frank Ruhl Libre",Georgia,serif;
  font-weight: 400;
  font-size:25px;
  color:#222;
}

.box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items:  start;
  flex-direction: column;
}


.card .img{
  position: relative;
}

.card .btn{
  margin-top: auto;
  padding :10px;
  border-radius: 10px;
}