{% extends "index.html" %}

{% block title %}
    Register Page for Users
{% endblock %}

{% block main %}
    
<h2 class="text-uppercase text-center mb-5">Registration</h2>

<form>

  <div class="form-outline mb-4">
    <input type="text" id="form3Example1cg" name="name"class="form-control form-control-lg" />
    <label class="form-label" for="form3Example1cg">Your Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="form3Example3cg"name="Email" class="form-control form-control-lg" />
    <label class="form-label" for="form3Example3cg">Your Email</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form3Example4cg" name="password" class="form-control form-control-lg" />
    <label class="form-label" for="form3Example4cg">Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form3Example4cdg" name="confirmation" class="form-control form-control-lg" />
    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
  </div>

  <div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />

  </div>

  <div class="d-flex justify-content-center">
    <button type="button"
      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
  </div>

  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
      class="fw-bold text-body"><u>Login here</u></a></p>

</form>

{% endblock %}