{% extends "base.html" %}

{% block title %}
    Register Page 
{% endblock %}

{% block main %}

<section>
  <div class="container ">
    <div class="row justify-content-around">
    
      <div class= "col-6 alignform">  
          <h3>Sign Up</h3>
          <form>

            <div class="col-md-5 formpad">
              <label for="name">
                <i class="fa-sharp fa-solid fa-user"></i>

              </label>
              <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Username" >
            </div>

            <div class="col-md-5 formpad">
              <input type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Email" >

            </div>

            <div class="col-md-5 formpad">
              <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password" >

            </div>

            <div class="col-md-5 formpad">
              <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Confimn Password">

            </div>

          <div class="formpad">
          <button type="button" class="button-56 buttonpad ">Register</button>
        </div>

          <p class="text-left text-muted mt-5 mb-0">Have already an account? <a href="/login"
              class="fw-bold text-body"><u>Login here</u></a></p>

        </form>
      </div>
<div class="col-md-4">
  <img src="" class="img-fluid imagepad" id="main">

</div>
</div>
</section>

{% endblock %}