
{% extends "layout.html" %}

{% block title %}
    BLog Page 
{% endblock %}

{% block main %}

<div class=" container">
    <div class="card-group" >
            <div class="row gy-3">
            {% for card in cards %}
            <div class="col-sm-4">
            <div class="card">
            <img src={{card.image_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{card.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{card.created_date}} <span>by {{card.author}}</span></h6>
                    <p class="card-text">{{card.content}}</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                    <a href="{{ url_for('deletePost',id=card.card_id)}}" class="btn btn-dark">Delete Post</a>
                </div>
            </div>
        </div>
            {% endfor %}
           </div>
    </div>   
</div>
{% endblock %}