
{% extends "layout.html" %}

{% block title %}
    BLog Page 
{% endblock %}

{% block main %}

<div class=" container">
    <div class="card-group" >
            <div class="row gy-3">
            {% for card in cards %}
            
            <div class="col-md-3 ">
                <a href="{{url_for('showPost',id=card.card_id)}}" class="text-reset" >
            <div class="card box p-3 ">
                
            <img src={{card.image_url}} class="card-img-top image-size" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{card.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-">Created at {{card.created_date}} <span>by {{card.author}}</span></h6>
                    {% if session["user_id"] %}
                        <a href="{{ url_for('editPost',id=card.card_id)}}" class="btn mt-4  btnalign btn-dark">Edit Post</a>
                        <a href="{{ url_for('deletePost',id=card.card_id)}}" class="btn mt-4 btnalign btn-dark">Delete Post</a>
                    
                    {% endif %}
                     
                </div>
            </div>
        </a>
        </div>
            {% endfor %}
           </div>
    </div>   
</div>
{% endblock %}