{% extends "layout.html" %}

{% block title %}
    BLog Page 
{% endblock %}

{% block main %}
    {% for card in cards %}
        <div class="card-group">
            <div class="row">
            <div class="col-sm-4">
            <div class="card" >
            <img src={{card.image_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{card.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{card.created_date}} <span>by {{card.author}}</span></h6>
                    <p class="card-text">{{card.content}}</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            </div>
    {% endfor %}     
            
{% endblock %}