{% extends "layout.html" %}

{% block title %}
    Crochet Page 
{% endblock %}

{% block main %}
    <h2 class="placecenter"> What is Crochet? How to Make it?</h2>
    <div class="row ">
        <div class="col-6 padtext">
            <img src="/static/image/Hat.jpg" class="img-fluid imagepad">
        </div>
    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-9 ">
      <h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      </h4>
    </div>
    </div>
</div>

{% endblock %}