{% extends "layout.html" %}

{% block title %}
    Login Page 
{% endblock %}

{% block main %}
<section>
    <div class="container ">
      <div class="row justify-content-around">
      
        <div class= "col-6 alignform">  
            <h3>Log In</h3>
            <form>
  
              <div class="col-md-5 formpad">
                
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Username" required >
              </div>

  
              <div class="col-md-5 formpad">
                <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password" required>
  
              </div>
  
  
            <div class="formpad">
            <button type="button" class="button-56 buttonpad ">Log In</button>
          </div>
          <p class="text-left text-muted mt-5 mb-0">Don't already have an account? <a href="/register"
            class="fw-bold text-body"><u>Register here</u></a></p>
          </form>
        </div>
  <div class="col-md-4">
    <img src="" class="img-fluid imagepad" id="main">
  
  </div>
  </div>
  </section>

{% endblock %}