{% extends "layout.html" %}

{% block title %}
    Register Page 
{% endblock %}

{% block main %}

<section>
  <div class="container ">
    <div class="row justify-content-around">
    
      <div class= "col-6 alignform">  
          <h3>Sign Up</h3>
          <form action="/register" method="POST" class="form-register">
            {{ form.hidden_tag() }}

            <div class="col-md-6 formpad">
              
              {{ form.username(class="form-control",placeholder="Username")}}
            </div>

            <div class="col-md-6 formpad">
              {{ form.password(class="form-control",placeholder="Password")}}
            </div>

            <div class="col-md-6 formpad">

              {{ form.confirmation(class="form-control",placeholder="Confirmation")}}

            </div>

          <div class="formpad">
            {{ form.Register(class="btn button-56 buttonpad ")}} 
        </div>

          <p class="text-left text-muted mt-5 mb-0">Have already an account? <a href="/login"
              class="fw-bold text-body"><u>Login here</u></a></p>

        </form>
      </div>
<div class="col-md-4">
  <img src="" class="img-fluid imagepad" id="main">

</div>
</div>
</section>

{% endblock %}